* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

h1 {
  font-size: 66px;
  color: #0B709B;
  text-align: center;
}

.modo {
  margin-top: 1%;
  margin-right: 1%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}


.coluna {
  position: fixed;
  left: 0;
  top: 0;
  width: 3vw;
  height: 100vh;
  background-color: #0B709B;
}

footer {
  text-align: center;
}


textarea {
  background: none;
  width: 60vw;
  resize: none;
  height: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
  outline: none;
  line-height: 1.3;
  overflow-wrap: break-word;
}

.tradutor{
  padding-bottom: 100px;
}

.modo img{
  width: 60px;
}

button {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0b709bce;
  cursor: pointer;
  color: aliceblue;
  font-size: 12px;
  font-weight: bold;
}

select {
  width: 90px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0b709bce;
  cursor: pointer;
  color: aliceblue;
}
